:hover>.inst_dl_simple_dl_btn {
    display: flex;
}
.inst_dl_simple_dl_btn {
    position: absolute;
    text-decoration: none!important;
    z-index: 2;
    line-height: 1.2;
    padding: 5px;
    top: 2%;
    left: 2%;
    display: none;
    background: #fff;
    font-weight: 700;
    color: #0f0f11!important;
    transition: all .3s ease-in-out;
    opacity: .7;
    cursor: pointer;
    border-radius: 14px;
    align-items: center;
}
.inst_dl_simple_dl_btn:hover {
    opacity: 1;
}
.inst_dl_simple_dl_btn .inst_dl_simple_icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    background-image: url(chrome-extension://__MSG_@@extension_id__/img/download.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.inst_dl_simple_dl_btn .inst_dl_simple_icon.inst_dl_simple_loader {
    background-image: url(chrome-extension://__MSG_@@extension_id__/img/loader.gif)!important;
}
.inst_dl_simple_dl_btn .inst_dl_simple_text {
    font-size: 12px;
    letter-spacing: -.3px;
    margin-left: 5px;
    margin-right: 4px;
}
.inst_dl_simple_dl_btn.exts_conflict {
    left: inherit;
    right: 10px!important;
}
.inst_dl_simple_story_dl_btn_wrap {
    position: fixed;
    left: 120px;
    top: 0;
    display: flex;
    flex-direction: row;
    z-index: 99;
    margin: 16px;
}
.inst_dl_simple_story_dl_btn_wrap .inst_dl_simple_story_dl_btn, .inst_dl_simple_story_dl_btn_wrap .inst_dl_simple_story_bulk_dl_btn {
    position: relative;
    left: 0;
    top: 0;
    height: 26px;
    font-size: 13px;
    line-height: 26px;
    color: #fff;
    padding: 0 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all .3s ease-in-out;
    text-decoration: none;
}
.inst_dl_simple_story_dl_btn_wrap .inst_dl_simple_story_dl_btn .inst_dl_simple_icon, .inst_dl_simple_story_dl_btn_wrap .inst_dl_simple_story_bulk_dl_btn .inst_dl_simple_icon {
    padding: 10px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    background-image: url(chrome-extension://__MSG_@@extension_id__/img/download_white.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.inst_dl_simple_story_dl_btn_wrap .inst_dl_simple_story_dl_btn .inst_dl_simple_icon.inst_dl_simple_loader, .inst_dl_simple_story_dl_btn_wrap .inst_dl_simple_story_bulk_dl_btn .inst_dl_simple_icon.inst_dl_simple_loader {
    padding: 5px!important;
    height: 16px!important;
    width: 16px!important;
    background-image: url(chrome-extension://__MSG_@@extension_id__/img/loader.gif)!important;
}
.inst_dl_simple_story_dl_btn_wrap .inst_dl_simple_story_dl_btn .inst_dl_simple_text, .inst_dl_simple_story_dl_btn_wrap .inst_dl_simple_story_bulk_dl_btn .inst_dl_simple_text {
    margin-right: 3px;
}
.inst_dl_simple_error_dl_msg {
    z-index: 100;
    text-align: center;
    position: absolute;
    top: 0;
    background-color: #000;
    opacity: .7;
    color: #fff;
    padding: 15px;
    width: 100%;
    transition: all .3s ease-in-out;
}
.inst_dl_simple_bulk_download_btn_wrap {
    margin-left: 22px;
}
.inst_dl_simple_bulk_download_btn_wrap .inst_dl_simple_bulk_download_btn {
    background-image: url(chrome-extension://__MSG_@@extension_id__/img/bulk_download.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    height: 22px;
    width: 22px;
}
.inst_dl_simple_bulk_download_menu_dialog {
    opacity: .5;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}
.inst_dl_simple_bulk_download_menu_loader {
    display: block;
    text-align: center;
    right: -30px;
    z-index: 11;
    top: 35px;
    padding: 30px 10px;
    height: auto;
    width: 340px;
    background: #fff;
    border: solid 1px #e6e6e6;
    border-radius: 3px;
    position: absolute;
    transition: all .3s ease-in-out;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .0975);
}
.inst_dl_simple_bulk_download_menu_loader .inst_dl_simple_icon {
    background-image: url(chrome-extension://__MSG_@@extension_id__/img/loader.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    padding: 25px;
}
.inst_dl_simple_bulk_download_menu {
    right: -30px;
    z-index: 11;
    top: 35px;
    height: auto;
    background: #fff;
    /*border: solid 1px #e6e6e6;*/
    border-radius: 3px;
    position: absolute;
    transition: all .3s ease-in-out;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .0975);
    width: 340px;
    /*padding: 20px;*/
    min-height: 100px;



}
.inst_dl_simple_bulk_download_menu .inst_dl_simple_bulk_download_menu_header {
    display: flex;
    flex-direction: row;
    align-items: start;
    cursor: default;
}
.inst_dl_simple_bulk_download_menu .inst_dl_simple_bulk_download_menu_header .files_found_count {
    font-weight: 600;
}
.inst_dl_simple_bulk_download_menu .inst_dl_simple_bulk_download_menu_header .igtv_skip_sign {
    margin-left: 8px;
    vertical-align: middle;
    cursor: help;
}
.inst_dl_simple_bulk_download_menu .inst_dl_simple_bulk_download_menu_header .igtv_skip_sign img {
    width: 17px;
}
.inst_dl_simple_bulk_download_menu .inst_dl_simple_bulk_download_menu_content .inst_dl_simple_menu_button_wrap {
    text-align: center;
    margin: 5px 0;
    display: block;
}
.inst_dl_simple_bulk_download_menu .inst_dl_simple_bulk_download_menu_content .inst_dl_simple_menu_button_wrap .inst_dl_simple_bulk_menu_button {
    z-index: 100;
    transition: all .3s ease-in-out;
    cursor: pointer;
    display: inline-block;
    padding: 8px;
    width: 100%;
    height: 38px;
    background: #00BA6C;
    border-radius: 3px;
    font-family: OpenSans, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #FFF;
}
.inst_dl_simple_bulk_download_menu .inst_dl_simple_bulk_download_menu_content .inst_dl_simple_menu_button_wrap .inst_dl_simple_bulk_menu_button:hover {
    background: #09CB7A;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
}
.inst_dl_simple_bulk_download_menu .inst_dl_simple_bulk_download_menu_content .inst_dl_simple_menu_button_wrap .inst_dl_simple_bulk_menu_button:active {
    color: rgba(255, 255, 255, .8);
    background: #00BA6C;
}
.inst_dl_simple_bulk_download_menu .inst_dl_simple_bulk_download_menu_content .inst_dl_simple_set_range_form, .inst_dl_simple_set_millisecdelay_form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
}
.inst_dl_simple_bulk_download_menu .inst_dl_simple_bulk_download_menu_content .inst_dl_simple_set_range_form span, .inst_dl_simple_set_millisecdelay_form span {
    display: flex;
    align-self: center;
}
.inst_dl_simple_bulk_download_menu .inst_dl_simple_bulk_download_menu_content .inst_dl_simple_set_range_form input, .inst_dl_simple_set_millisecdelay_form input {
    background: #FFF;
    border: 1px solid rgba(54, 57, 72, .5);
    box-sizing: border-box;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, .2);
    border-radius: 3px;
    width: 80px;
    height: 28px;
    font-size: 14px;
    line-height: 19px;
    color: #000;
    padding: 6px;
}
.inst_dl_simple_bulk_download_menu .inst_dl_simple_bulk_download_menu_content .inst_dl_simple_set_range_form input:focus {
    border: 1px solid rgba(54, 57, 72, .7);
}
.inst_dl_simple_bulk_download_menu .inst_dl_simple_bulk_download_menu_footer {
    margin-top: 15px;
    text-align: center;
    white-space: normal;
}
.inst_dl_simple_bulk_download_menu .inst_dl_simple_bulk_download_menu_footer a {
    font-family: OpenSans, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: gray!important;
}
.inst_dl_simple_bulk_download_menu .inst_dl_simple_bulk_download_menu_footer a:hover {
    color: #3C6DEC!important;
}
